:root {
  --wide-container: 60rem;
  --narrow-container: 40rem;

  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */

  /* Widths */
  --width-x-small: 20em;
  --width-small: 40em;
  --width-medium: 60em;
  --width-large: 80em;
  --width-x-large: 100em;
}
.Header-module__root___1UNRH {
  position: relative;
  color: #202123;
  color: var(--color-black, #000);
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  max-width: 40em;
  max-width: var(--width-small);
}
.Header-module__root___1UNRH a {
  color: inherit;
  text-decoration: inherit;
}
.Header-module__branding___3fWoR {
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  margin: 0;
  padding: 0
}
.Header-module__branding___3fWoR > a {
    display: block;
    padding: 1.5em
}
@supports (padding-top: env(safe-area-inset-top)) {
.Header-module__branding___3fWoR > a {
      padding-left: calc(env(safe-area-inset-left) + 1.5rem)
}
    }
.Header-module__branding___3fWoR img, .Header-module__branding___3fWoR svg {
    height: calc(calc(24 / 16) * 1.5rem);
    height: calc(var(--font-base-line-height) * 1.5rem);
    width: auto;
    color: inherit;
    vertical-align: top
}
.Header-module__branding___3fWoR svg path {
    fill: currentColor
}
@media (max-width: 674px) {
.Header-module__branding___3fWoR {
    -webkit-box-flex: 1;
            flex: 1
}
  }
.Header-module__logo___1C890 {
  display: block;
}
@media (min-width: 675px) {
.Header-module__nav___3dWJo {
    -webkit-box-flex: 1;
            flex: 1
}
  }
.Header-module__navItems___D97XT {
  padding: 0;
  margin: 0
}
@media (min-width: 675px) {
.Header-module__navItems___D97XT {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    padding: 0 1rem
}
  }
@supports (padding-top: env(safe-area-inset-top)) {
.Header-module__navItems___D97XT {
    padding-right: calc(env(safe-area-inset-right) + 1rem)
}
  }
@media (max-width: 674px) {
.Header-module__navItems___D97XT {
    z-index: 10;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #202123;
    background-color: var(--color-black, #000);
    color: #fff;
    color: var(--color-white, #fff)
}
.Header-module__root___1UNRH[data-show-nav="true"] .Header-module__navItems___D97XT {
      display: block
}
  }
.Header-module__navItem___1XGqh {
  display: -webkit-box;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: stretch;
          align-items: stretch;
  line-height: calc(calc(24 / 16) * 1.5rem);
  line-height: calc(var(--font-base-line-height) * 1.5rem)
}
.Header-module__navItem___1XGqh > a {
    display: block;
    position: relative;
    padding: 1.5rem 0.5rem
}
@media (max-width: 674px) {
.Header-module__navItem___1XGqh > a {
      padding: 1rem 1.5rem;
      width: 100%;
      box-sizing: border-box;
      text-align: right
}
.Header-module__navItem___1XGqh > a[data-is-active="true"]::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0.5rem;
        left: 0;
        background-color: #fff;
        background-color: var(--color-white, #fff)
}
    }
.Header-module__root___1UNRH[data-show-nav="true"] .Header-module__navItem___1XGqh > a[data-is-active="true"]::before {
    display: none
}
@media (min-width: 675px) {
.Header-module__navItem___1XGqh {
    margin-left: 0.5rem
}
  }
.Header-module__showNavButton___2y7_a {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  font: inherit;
  background: none;
  color: inherit;
  margin: 0;
  padding: 1.5rem;
  outline: none
}
@media (min-width: 675px) {
.Header-module__showNavButton___2y7_a {
    display: none
}
  }
.Header-module__hamburgerIcon___1DYPP {
  font-size: calc(calc(24 / 16) * 1.5rem);
  font-size: calc(var(--font-base-line-height) * 1.5rem);
  display: block
}
@media (min-width: 675px) {
.Header-module__hamburgerIcon___1DYPP {
    display: none
}
  }

:root {
  --wide-container: 60rem;
  --narrow-container: 40rem;

  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */

  /* Widths */
  --width-x-small: 20em;
  --width-small: 40em;
  --width-medium: 60em;
  --width-large: 80em;
  --width-x-large: 100em;
}

.Footer-module__root___2GrSr {
  color: #202123;
  color: var(--color-black, #333);
  font-size: calc(14 / 16 * 1rem);
  font-size: var(--font-small-size);
  line-height: calc(21 / 14);
  line-height: var(--font-small-line-height);
  padding: 2rem 0;
}

.Footer-module__items___2dGMJ {
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0 0 3rem;
  padding: 0;
}

.Footer-module__item___2tIfA > a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 1.5rem 0.5rem
}

.Footer-module__text___1vBhe {
  text-align: center
}

.Footer-module__text___1vBhe p {
    margin: 1rem 0
}

.Footer-module__text___1vBhe a {
    color: inherit
}

:root {
  --wide-container: 60rem;
  --narrow-container: 40rem;

  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */

  /* Widths */
  --width-x-small: 20em;
  --width-small: 40em;
  --width-medium: 60em;
  --width-large: 80em;
  --width-x-large: 100em;
}
.shared-module__center___1SLHm {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
}
.shared-module__container___j_wCJ {
  margin: 0 1rem
}
@media (--typography-breakpoint) {
.shared-module__container___j_wCJ {
    margin: 0;
    width: 100%
}
  }
.shared-module__normal-container___1vW6X {
}
@media (--typography-breakpoint) {
.shared-module__normal-container___1vW6X {
    max-width: 60rem;
    max-width: var(--wide-container, 60rem)
}
  }
.shared-module__narrow-container___1Q38q {
}
@media (--typography-breakpoint) {
.shared-module__narrow-container___1Q38q {
    max-width: 40rem;
    max-width: var(--narrow-container, 30rem)
}
  }

:root {
  --wide-container: 60rem;
  --narrow-container: 40rem;

  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */

  /* Widths */
  --width-x-small: 20em;
  --width-small: 40em;
  --width-medium: 60em;
  --width-large: 80em;
  --width-x-large: 100em;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-family: var(--font-family-sans);
  font-size: 1em;
  font-size: var(--font-base-size);
  line-height: calc(24 / 16);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  background: var(--color-white);
  color: #202123;
  color: var(--color-black);
  margin: 0;
}

html,
body,
#__next,
.container {
  height: 100%;
}

.content {
  min-height: calc(100% - 84px - 218px);
}

:root {
  --wide-container: 60rem;
  --narrow-container: 40rem;

  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */

  /* Widths */
  --width-x-small: 20em;
  --width-small: 40em;
  --width-medium: 60em;
  --width-large: 80em;
  --width-x-large: 100em;
}
.Hero-module__root___2Imh6 {
  position: relative;
  background-color: #202123;
  background-color: var(--color-black, #000);
  color: #fff;
  color: var(--color-white, #fff);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 2rem
}
@media (min-width: 675px) {
.Hero-module__root___2Imh6 {
    padding-bottom: 4rem
}
  }
.Hero-module__root___2Imh6::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34,34,34,0)), to(rgba(34,34,34,0.93333)));
  background-image: linear-gradient(rgba(34,34,34,0), rgba(34,34,34,0.93333));
  width: 100%;
  height: 50%;
  z-index: 0;
}
.Hero-module__content___2h0zh {
  width: 100%;
  max-width: 40em;
  max-width: var(--width-small);
  padding: 0 1.5em;
  box-sizing: border-box;
  z-index: 1;
}
.Hero-module__title___hoCiS {
  position: relative;
  font-weight: 600;
  font-size: calc(24 / 16 * 1rem);
  font-size: var(--font-title2-size);
  line-height: calc(33 / 24);
  line-height: var(--font-title2-line-height);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  padding-top: 12.5rem
}
@media (min-width: 675px) {
.Hero-module__title___hoCiS {
    font-size: calc(49 / 16 * 1rem);
    font-size: var(--font-title1-size);
    line-height: calc(57 / 49);
    line-height: var(--font-title1-line-height);
    padding-top: 15rem
}
  }
.Hero-module__tagline___6cdwx {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
}
@media (min-width: 675px) {
.Hero-module__tagline___6cdwx {
    font-size: calc(18 / 16 * 1rem);
    font-size: var(--font-large-size);
    line-height: calc(27 / 18);
    line-height: var(--font-large-line-height)
}
  }
.Hero-module__tagline___6cdwx > p {
  margin: 0;
}
.Hero-module__ctas___oSOEb {
  margin-top: 3rem;
  display: -webkit-box;
  display: flex;
}
.Hero-module__ctas___oSOEb > *:not(:first-child) {
  margin-left: 1rem;
}
.Hero-module__root___2Imh6 p a {
  color: inherit;
}

.Cta-module__button___2cyJ4 {
  color: inherit;
  display: block;
  border-radius: 0;
  border: 1px solid currentColor;
  background-color: transparent;
  padding: 1em 1.5em;
  text-decoration: inherit;
  font-weight: 600;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-transition: -webkit-transform 50ms ease-in-out;
  transition: -webkit-transform 50ms ease-in-out;
  transition: transform 50ms ease-in-out;
  transition: transform 50ms ease-in-out, -webkit-transform 50ms ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.Cta-module__button___2cyJ4:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.Cta-module__button___2cyJ4:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

:root {
  --wide-container: 60rem;
  --narrow-container: 40rem;

  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */

  /* Widths */
  --width-x-small: 20em;
  --width-small: 40em;
  --width-medium: 60em;
  --width-large: 80em;
  --width-x-large: 100em;
}
.Mailchimp-module__root___2JTQm {
  padding: 2rem 0
}
@media (min-width: 675px) {
.Mailchimp-module__root___2JTQm {
    padding: 4rem 0
}
  }
.Mailchimp-module__container___3RNYq {
  width: 100%;
  max-width: 40em;
  max-width: var(--width-small);
  padding: 0 1.5em;
  box-sizing: border-box;
  margin: 0 auto;
}
.Mailchimp-module__heading___1dshs {
  text-align: center;
  font-size: calc(21 / 16 * 1rem);
  font-size: var(--font-title3-size);
  line-height: calc(30 / 21);
  line-height: var(--font-title3-line-height);
  margin: 0 0 0.5rem
}
@media (min-width: 675px) {
.Mailchimp-module__heading___1dshs {
    font-size: calc(24 / 16 * 1rem);
    font-size: var(--font-title2-size);
    line-height: calc(33 / 24);
    line-height: var(--font-title2-line-height)
}
  }
.Mailchimp-module__subtitle___3UGKa {
  text-align: center;
  margin: 0.5rem 0 1.5rem;
}
.Mailchimp-module__form___3eJ8N {
  display: grid
}
@media (min-width: 675px) {
.Mailchimp-module__form___3eJ8N {
    min-width: 34rem;
    display: grid;
    grid-template-columns: 80% 20%
}
  }
.Mailchimp-module__form___3eJ8N input {
  -webkit-font-smoothing: inherit;
  font: inherit;
  display: block;
  border: 1px solid #202123;
  border: 1px solid var(--color-black, #000);
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  box-sizing: border-box
}
@media (min-width: 675px) {
.Mailchimp-module__form___3eJ8N input {
    padding: 1em
}
  }
.Mailchimp-module__form___3eJ8N button {
  -webkit-font-smoothing: inherit;
  font: inherit;
  background: none;
  margin-top: 1rem;
  display: block;
  padding: 1em;
  border: 1px solid #202123;
  border: 1px solid var(--color-black, #000)
}
@media (min-width: 675px) {
.Mailchimp-module__form___3eJ8N button {
    margin-top: 0;
    border-left: none
}
  }
.Mailchimp-module__form___3eJ8N button:focus {
    background: #202123;
    background: var(--color-black, #000);
    color: #fff;
    color: var(--color-white, #fff)
}
@media (hover: hover) {
.Mailchimp-module__form___3eJ8N button:hover {
      background: #202123;
      background: var(--color-black, #000);
      color: #fff;
      color: var(--color-white, #fff)
}
  }

:root {
  --wide-container: 60rem;
  --narrow-container: 40rem;

  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */

  /* Widths */
  --width-x-small: 20em;
  --width-small: 40em;
  --width-medium: 60em;
  --width-large: 80em;
  --width-x-large: 100em;
}
.TextSection-module__root___175SO {
  padding: 2rem 0
}
@media (min-width: 675px) {
.TextSection-module__root___175SO {
    padding: 4rem 0
}
  }
.TextSection-module__article___ER3pL {
  width: 100%;
  max-width: 40em;
  max-width: var(--width-small);
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}
.TextSection-module__label___2Y2Kp {
  font-size: calc(10 / 16 * 1rem);
  font-size: var(--font-micro-size);
  line-height: calc(12 / 10);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 1em;
}
.TextSection-module__heading___45X3s {
  font-size: calc(21 / 16 * 1rem);
  font-size: var(--font-title3-size);
  line-height: calc(30 / 21);
  line-height: var(--font-title3-line-height);
}
.TextSection-module__label___2Y2Kp+.TextSection-module__heading___45X3s {
  margin-top: 0.25em;
}

:root {
  --wide-container: 60rem;
  --narrow-container: 40rem;

  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */

  /* Widths */
  --width-x-small: 20em;
  --width-small: 40em;
  --width-medium: 60em;
  --width-large: 80em;
  --width-x-large: 100em;
}
.ImageSection-module__root___X5RCV {
  position: relative;
  padding: 2rem 0
}
@media (min-width: 675px) {
.ImageSection-module__root___X5RCV {
    padding: 4rem 0
}
  }
.ImageSection-module__label___3E5g0 {
  font-size: calc(10 / 16 * 1rem);
  font-size: var(--font-micro-size);
  line-height: calc(12 / 10);
  line-height: var(--font-micro-line-height);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 1em;
}
.ImageSection-module__label___3E5g0 + .ImageSection-module__title___1FKdd {
  margin-top: 0.2em;
}
.ImageSection-module__title___1FKdd {
  font-size: calc(21 / 16 * 1rem);
  font-size: var(--font-title3-size);
  line-height: calc(30 / 21);
  line-height: var(--font-title3-line-height);
}
.ImageSection-module__image___wjA9x {
  display: block;
  width: 100%;
}
.ImageSection-module__content___gC3fG {
  position: relative;
  margin: 0 1.5rem;
  max-width: 60em;
  max-width: var(--width-medium)
}
.ImageSection-module__content___gC3fG figcaption {
    width: 100%;
    box-sizing: border-box
}
@media (min-width: 675px) {
.ImageSection-module__content___gC3fG {
    margin: 0 auto;
    padding-top: 2rem
}
.ImageSection-module__content___gC3fG figcaption {
      position: absolute;
      top: 0
}
  }
.ImageSection-module__caption___2a5Db {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box
}
@media (min-width: 675px) {
.ImageSection-module__caption___2a5Db {
    max-width: calc(40em - 3rem);
    max-width: calc(var(--width-small) - 3rem)
}
  }
.ImageSection-module__captionBox___2WD54 {
  background-color: #fff;
  background-color: var(--color-white);
  border: 1px solid #202123;
  border: 1px solid var(--color-black);
  padding: 1.5rem
}
@media (min-width: 675px) {
.ImageSection-module__captionBox___2WD54 {
    max-width: calc((40em / 2) - 3rem);
    max-width: calc((var(--width-small) / 2) - 3rem)
}
  }

:root {
  --wide-container: 60rem;
  --narrow-container: 40rem;

  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */

  /* Widths */
  --width-x-small: 20em;
  --width-small: 40em;
  --width-medium: 60em;
  --width-large: 80em;
  --width-x-large: 100em;
}
.SocialMedia-module__root___1T68Z {
  padding: 2rem 0
}
@media (min-width: 675px) {
.SocialMedia-module__root___1T68Z {
    padding: 4rem 0
}
  }
.SocialMedia-module__article___a_1Uj {
  width: 100%;
  max-width: 40em;
  max-width: var(--width-small);
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}
.SocialMedia-module__label___1JBy4 {
  font-size: calc(10 / 16 * 1rem);
  font-size: var(--font-micro-size);
  line-height: calc(12 / 10);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 1em;
}
.SocialMedia-module__heading____lEfF {
  font-size: calc(21 / 16 * 1rem);
  font-size: var(--font-title3-size);
  line-height: calc(30 / 21);
  line-height: var(--font-title3-line-height);
}
.SocialMedia-module__label___1JBy4+.SocialMedia-module__heading____lEfF {
  margin-top: 0.25em;
}


/*# sourceMappingURL=styles.chunk.css.map*/